* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
div {
    margin: 20px ;

}
form {
 width: 40%;
    background-color: #c5c57e;

}
table {
    padding-top: 5px;
    width: 100%;
    padding-left: 5px;
}
tr {
    margin-top: 5px;
}